{% extends '_base.html' %}

{% block title %} Log In {% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="text-center">
                <h2>Login</h2>
                <p>Enter your information below or <a href="{% url 'account_signup' %}" class="text-decoration-none fw-bold">signup here</a></p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-3">
            <form action="" method="post" class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                {% csrf_token %}
                {{ form|crispy }}
                <div>
                    <button type="submit" class="btn btn-dark w-100 btn-lg">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}