{% extends '_base.html' %}

{% block title %} About Veldt Voices – Where Stories Come to Life {% endblock %}
{% load static %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="my-3">
            <h1>About Veldt Voices</h1>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="mission">
            <div class="secondary-title">
                <h2>Our Mission</h2>
            </div>
            <p>
                At Veldt Voices, we celebrate the richness of South African literature by curating a diverse collection of books written by South African authors. Whether you're looking for contemporary fiction, historical narratives, poetry, or indigenous storytelling, we aim to connect you with the voices that shape the South African literary landscape.
            </p>
        </div>
        <div class="what-we-offer my-5">
            <div class="secondary-title">
                <h2>What We Offer</h2>
            </div>
            <ul>
                <li>
                    A carefully curated <strong>catalog</strong> of books from South African authors.
                </li>
                <li>
                    A <strong>platform</strong> to discover emerging and established writers.
                </li>
                <li>
                    A community-driven <strong>space</strong> for readers to explore and discuss books.
                </li>
            </ul>
        </div>
        <div class="why-sa-literature">
            <div class="secondary-title">
                <h2>Why South African Literature?</h2>
            </div>
            <p>
                South Africa has a deep and evolving literary tradition, shaped by history, culture, and a diversity of perspectives. From the poetic reflections of Antjie Krog, the storytelling of Zakes Mda, to the groundbreaking works of Mpho Matsipa, our authors bring unique and powerful narratives to life.
            </p>
        </div>
        <div class="community my-5">
            <div class="secondary-title">
                <h2>Join the Community</h2>
            </div>
            <p><strong>Are you an author</strong>? Submit your book for consideration.</p>
            <p><strong>Are you a reader</strong>? Explore our catalog and share your favourite reads.</p>
            <p>Have questions? Contact us at <a href="mailto:questions@veldtvoices.com">Veldt Voices</a></p>
        </div>
    </div>
</div>
{% endblock %}